/* Reset default margin dan padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set body dengan background */
body {
  background-image: url('bg.jpg'); /* Gambar latar belakang */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Container untuk game */
.game-container {
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.7);
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  font-weight: bold;
  color: #FFD700;
}

p {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.click-image {
  cursor: pointer;
  width: 200px;
  height: auto;
  border-radius: 10px;
  transition: transform 0.2s ease-in-out;
}

.click-image:active {
  transform: scale(0.9);
}

#score {
  font-weight: bold;
  font-size: 2em;
  color: #FFD700;
  }
